* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
    max-width: 100%;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
}

main {
    width: 100%;
    padding: 0.5em;
    height: 1800px;
}

h1 {
    visibility: hidden;
    /*color: #e60023;*/
    font-size: xx-small;
}

#logo {
    width: 30px;
    height: 30px;
}

.nav-menu{
    display: flex;
    width: 100%;  
    align-items: center;
    padding: 1em;
    justify-content: space-between;  
    position: fixed;
    z-index: 2;
}

.brand {
    display: block;
    padding: 0;
}

.casita {
    display: none;
}

.options {
    width: 28%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.start-button {
    border-radius: 40px;
    padding: 1em;
    color: white;
    background-color: black;
}

.search {
    width: 80%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.search > a {
    display: flex;
    position: absolute;
    background-color: transparent;
    padding: 0;
    left: 20px;
}

.search > a > img {
    background-color: transparent;
}

.search > input { 
        display: flex;
        border-radius: 50px;
        border: 1px solid transparent;
        width: 100%;
        height: 50px;
        background-color: gainsboro;
    }

.notifications {
    width: 20%;
    display: flex;
    justify-content: end;
}
.notifications > a {
    padding: 0 1em 0 1em;
}

.notifications > button > img {
    filter: grayscale(100%);
}

a:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

a, button {
    border: none;
    text-decoration: none;
    color: black;
    padding: 0 1em 0 1em;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.music-gallery-container {
    
    width: 100%; 
    height: 800px;
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap:15px;
    padding: 0 0.5em 4em 0.5em;
}

.music-gallery-container > div {
    width: 100%;
}

.music-gallery-container > div > img {
    width: 100%;
    height: 100%; 
    border-radius: 20px;
    object-fit: cover;  
}

.music-gallery-container > div > img:hover {
    cursor: zoom-in;
    filter:opacity(80%);
}

.pic3 {
    grid-column: 3/4;
    grid-row: 1/3;   
}

.pic6 {
    grid-column: 1/3;
    grid-row: 2/3;
}

footer {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    justify-content: space-around;
}

.footer-services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.footer-services > a {
    text-decoration: none;
    font-size: 12px;
    color: black;
}



@media screen and (min-width:320px) and (max-width:425px) {

    header {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-bottom: 2em;
    }

    a, button {
        color: black;
        padding: 0 1em 0 1em;
        font-size: 10px;
        font-weight: 500;
    }

    .nav-menu {
        display: flex;
        position: fixed;
        bottom: 50px;
        padding: 0;
    }

    .brand {
        display: none;
    }

    .casita {
        display: flex;
        filter: grayscale(100%);
        padding: 0;
    }

    .start-button {
        display: none;
    }

    .options {
        width: 30%;
        display: flex;
        justify-content: center;
        padding: 0;
    }

    .search {
        width: 30%;
    }

    .search > input {
        background-color: transparent;
    }

    .notifications {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .notifications > a {
        padding: 0;
    }
    
    .notifications > button > img {
        width: 30px;
        height: 30px;
        filter: grayscale(100%);
    }

    .create {
        display: none;
    }

    .explore-button {
        display: none;
    }
    
    .music-gallery-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;
        padding: 0.5em;       
    }

    .pic3 {
        grid-column: 1/2;
        grid-row: 3/5;   
    }
    
    .pic6 {
        grid-column: 1/3;
    }


    footer, .footer-services {
        display: flex;
        justify-content: center;
    }

    .footer-services > a {
        font-size: 8px;
    }
}

@media screen and (min-width:425px) and (max-width:680px) {

    header {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        padding-bottom: 2em;
    }

    .brand {
        display: none;
    }

    .casita {
        display: flex;
        filter: grayscale(100%);
    }

    .start-button {
        display: none;
    }

    a, button {
        color: black;
        padding: 0 1em 0 1em;
        font-size: 10px;
        font-weight: 500;
    }

    .nav-menu {
        display: flex;
        position: fixed;
        bottom: 50px;
        padding-bottom: 1em;
    }

    .options {
        width: 40%;
        display: flex;
        justify-content: center;
    }
    .search {
        width: 25%;
        display: flex;
        position: relative;
        justify-content: center;
    }

    .search > input {
        display: flex;
        border-radius: 50px;
        border: 1px solid transparent;
        padding: 0 1em 0 3em;
        width: 100%;
        height: 50px;
        background-color: transparent;
    }

    .search > a {
        display: flex;
        position: absolute;
        background-color: transparent;
    }

    .notifications {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .notifications > a {
        padding: 0;
    }
    
    .notifications > button > img {
        width: 30px;
        height: 30px;
        filter: grayscale(100%);
    }

    .create {
        display: none;
    }

    .explore-button {
        display: none;
    }

    .music-gallery-container {
        width: 100%;
        height: 500px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 1fr);
        gap: 5px;    
    }

    .pic3 {
        grid-column: 1/2;
        grid-row: 3/5;   
    }
    
    .pic6 {
        grid-column: 1/3;
    }


    footer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-bottom: 2.5em;
    }

    .footer-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .footer-services > a {
        font-size: 10px;
    }

}

@media screen and (min-width:680px) and (max-width:1024px) {


    .nav-menu{
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;  
        align-items: center;
        padding: 1em;
        justify-content: space-between;  
    }

    a, button {
        padding: 0 0.5em;
        font-size: 14px;
    }

    .music-gallery-container {
        width: 100%;
        height: 800px;
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(4, 1fr);
        gap: 10px;
        padding-top: 75px;
    }

    .options {
        width: 30%;
        justify-content: center;
    }

    .notifications {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
    }

    .start-button {
        padding: 0.7em;
    }

    .search {
        width: 70%;
    }

    .search > input {
        height: 45px;
    }
    
    .footer-services {
        padding: 1em 0 1em 0;
    }
}

@media screen and (min-width:1024px) and (max-width:1400px){

    header {
        display: flex;
        width: 100%;
        height: 100px;
     }
    .nav-menu{
        display: flex;
        width: 100%;  
        position: fixed;
        top: 0;
        align-items: center;
        padding: 1em;
        justify-content: space-between;  
    }

    .options {
        justify-content: center;
    }

    .notifications {
        width: 23%;
        display: flex;
        justify-content: center;
    }

    .notifications > button > img {
        filter: grayscale(100%);
        width: 25px;
        height: 25px;
    }


    .search > input {
        padding: 0 0 0 5em;
        height: 45px;
    }

    .footer-services > a {
        font-size: 14px;
    }

}

@media screen and (min-width:1400px) and (max-width:2560px) {

    header {
        display: flex;
        width: 100%;
        height: 200px;
    }

    .nav-menu{
        display: flex;
        position: fixed;
        top: 0;
        width: 100%;  
        align-items: center;
        padding: 2em 1em 0 1em;
        justify-content: space-between;  
    }

    #logo {
        width: 130px;
        height: 100px;
    }

    .options {
        
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .search {
        width: 30%;
        display: flex;
        position: relative;
        align-items: center;
        justify-content: space-around;
    }

    .notifications {
        width: 25%;
        display: flex;
        justify-content: space-evenly;
    }

    .search > input {
        width: 100%;
        height: 90px;
    }

    .notifications > a {
        padding: 0 1em 0 1em;
    }
    
    .notifications > button > img {
        width: 63px;
        height: 63px;
        filter: grayscale(100%);
    }

    a, button {
        border: none;
        text-decoration: none;
        color: black;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: 1px;
    }

    footer {
        width: 100%;
        height: 140px;
    }

    .footer-services {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: center;
    }

    .footer-services > a {
        text-decoration: none;
        font-size: 25px;
        color: black;
    }


}